<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../view/css_code/main.css">
    <link rel="stylesheet" href="../../view/css_code/forms.css">
    <link rel="stylesheet" href="../../view/css_code/add_event.css">
    <link rel="stylesheet" href="../../view/css_code/popup.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin="">
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
    <link rel="stylesheet" href="https://unpkg.com/@geoapify/leaflet-address-search-plugin@^1/dist/L.Control.GeoapifyAddressSearch.min.css" >
    <script src="https://unpkg.com/@geoapify/leaflet-address-search-plugin@^1/dist/L.Control.GeoapifyAddressSearch.min.js"></script>
    <link rel="icon" type="image/x-icon" href="../../view/media/header-footer/queerrar.ico">
    <title> Queer-rar Add Event </title>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="../../client/main.js"></script>
    <script src="../../client/add-updateEvent.js"></script>
</head>
<body>
<div class="wrapper">
    <!-- ========================== HEADER ========================== -->
    <div id="header" >
        {{> header}}
    </div>
    <!-- ========================== Main ========================== -->

    <main id="index-page-components">
      <br><br>
      <br><br>
        <form action="/addEvent"  class="custom_forms" method="POST" id="addEventForm">
            <h1> New Event? </h1>
            <label for="event-name" id="firstlabel" class="custom_forms" >
                Event Name:
            </label>
            <input type="text" class="custom_forms"  id="event-name" name="eName" placeholder="" required>

            <label for="event-date" class="custom_forms" id="labeldate">
                Date:
            </label>
            <input type="date" class="custom_forms"  id="event-date" name="eDate" required>
            <br>
            <label for="event-time" class="custom_forms" id="labeltime">
                Time:
            </label>
            <input type="time" class="custom_forms"  id="event-time" name="eTime" required min="00:00" >
            <br >
            <label for="event-place" class="custom_forms">
                Place:
            </label>
            <input type="text" class="custom_forms"  id="event-place" name="ePlace" required>

            <div id="map"></div>
            <input type="button" class="custom_forms" value="Check position" id="checkpos" onclick="checkMap()">
            <br>
            <label for="event-desc">
                Description:
            </label>
            <textarea  class="custom_forms" rows="4" cols="40" id="event-desc" placeholder="Enter your description" name="eDesc" required> </textarea>
            <input id="submitEvent" class="buttonsressub" type="submit" value="Create the event">
        </form>
        <br>

        <div id="popup" class="overlayHidden">
            <div id="map-popup" class="popup">
                <div id="my-map"></div>
                <button class="close" onclick="closePopUp()">&times;</button>
            </div>
        </div>
    </main>

    <!-- ========================== FOOTER ========================== -->
    <div id="footer">
        {{> footer}}
    </div>
</div>
</body>
</html>
