<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../view/css_code/main.css">
    <link rel="stylesheet" href="../../view/css_code/forms.css">
    <link rel="stylesheet" href="../../view/css_code/add_event.css">
    <link rel="icon" type="image/x-icon" href="../../view/media/header-footer/queerrar.ico">
    <title> Queer-rar Add Event </title>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="../../client/main.js"></script>
    <script src="../../client/add-updateEvent.js"></script>
</head>
<body>
<div class="wrapper">
    <!-- ========================== HEADER ========================== -->
    <div id="header" >
        {{> header}}
    </div>

    <!-- ========================== Main ========================== -->

    <main id="index-page-components">
      <br><br>
      <br><br>
        <form action="/addEvent"  class="custom_forms" method="POST" id="addEventForm">
            <h1> New Event? </h1>
            <input type="hidden" name="event_id">
            <input type="hidden" name="username">
            <input type="hidden" name="session_id">
            <input type="hidden" name="eLon">
            <input type="hidden" name="eLat">
            <label for="event-name" id="firstlabel" class="custom_forms" >
                Event Name:
            </label>
            <input type="text"class="custom_forms"  id="event-name" name="eName" placeholder="" required>

            <label for="event-date" class="custom_forms">
                Date:
            </label>
            <input type="date" class="custom_forms"  id="event-date" name="eDate" required>
            <label for="event-time" class="custom_forms">
                Time:
            </label>
            <input type="time" class="custom_forms"  id="event-time" name="eTime" required min="00:00" max="24:00">
            <br >
            <label for="event-place" class="custom_forms">
                Place:
            </label>
            <input type="text" class="custom_forms"  id="event-place" name="ePlace" required>

            <div id="map"></div>
            <input type="button" class="custom_forms"  class="buttonsressub" value="Check position" id="checkpos" onclick="checkMap()">
            <label for="event-desc">
                Description:
            </label>
            <textarea  class="custom_forms" rows="4" cols="40" id="event-desc" placeholder="Enter your description" name="eDesc" required> </textarea>
            <input id="submitEvent" class="buttonsressub" type="submit" value="Create the event">
        </form>
        <br>
    </main>

    <!-- ========================== FOOTER ========================== -->

    <div id="footer">
        {{> footer}}
    </div>
</div>
</body>
</html>
