<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../view/css_code/main.css">
    <link rel="stylesheet" href="../../view/css_code/forms.css">
    <link rel="stylesheet" href="../../view/css_code/add_event.css">
    <link rel="icon" type="image/x-icon" href="../../view/media/header-footer/queerrar.ico">
    <title> Queer-rar Add Event </title>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="../../client/main.js"></script>
    <script src="../../client/add-updateEvent.js"></script>
</head>
<body>
<div class="wrapper">
    <!-- ========================== HEADER ========================== -->
    <!-- <div id="header" >
        {{> header}}
    </div> -->
    <!-- ========================== HEADER ========================== -->
    <header class="wrapper header-wrapper">
      <div class="header-wrapper header-group">
        <!-- Menu -->
        <nav class="dropdown">
          <button id="menu-button-image" aria-label="Menu button including a hamburger menu icon created by Freepik - Flaticon"></button>
          <ul class="dropdown-menu">

            <li class="dropdown-submenu">
              <a href="/events">Events</a>
            </li>

            <li class="dropdown-submenu">
              <a href="#">Friends</a>
            </li>

            <li class="dropdown-submenu">
              <a href="#">Messages</a>
            </li>

            <li class="dropdown-submenu">
              <a href="#">Games </a>
            </li>

            <li class="dropdown-submenu">
              <a href="#">Dating</a>
            </li>

            <li class="dropdown-submenu">
              <a href="#">Settings</a>
            </li>

          </ul>
        </nav>

        <!-- Logo -->
        <button id="home-button-image" onclick="window.location.href='index.html';">
        </button>

      </div>

      <div class="header-wrapper header-group">
        <!-- messenger-->
        <button id="messenger-button-image" aria-label="messenger icon" onclick="window.location.href='/account';">
        </button>
        <!-- User Login -->
        <button id="login-button-image" aria-label="Login button including a login icon created by Sebastian Belalcazar - Flaticon"
                onclick="window.location.href='/chat';">
        </button>
      </div>

    </header>

    <!-- ========================== Main ========================== -->

    <main id="index-page-components">
      <br><br>
      <br><br>
        <form action="/addEvent"  class="custom_forms" method="POST" id="addEventForm">
            <h1> New Event? </h1>
            <input type="hidden" name="event_id">
            <input type="hidden" name="username">
            <input type="hidden" name="session_id">
            <input type="hidden" name="eLon">
            <input type="hidden" name="eLat">
            <label for="event-name" id="firstlabel" class="custom_forms" >
                Event Name:
            </label>
            <input type="text"class="custom_forms"  id="event-name" name="eName" placeholder="" required>

            <label for="event-date" class="custom_forms" id="labeldate">
                Date:
            </label>
            <input type="date" class="custom_forms"  id="event-date" name="eDate" required>
            <br>
            <label for="event-time" class="custom_forms" id="labeltime">
                Time:
            </label>
            <input type="time" class="custom_forms"  id="event-time" name="eTime" required min="00:00" max="24:00">
            <br >
            <label for="event-place" class="custom_forms">
                Place:
            </label>
            <input type="text" class="custom_forms"  id="event-place" name="ePlace" required>

            <div id="map"></div>
            <input type="button" class="custom_forms" value="Check position" id="checkpos" onclick="checkMap()">
            <br>
            <label for="event-desc">
                Description:
            </label>
            <textarea  class="custom_forms" rows="4" cols="40" id="event-desc" placeholder="Enter your description" name="eDesc" required> </textarea>
            <input id="submitEvent" class="buttonsressub" type="submit" value="Create the event">
        </form>
        <br>
    </main>

    <!-- ========================== FOOTER ========================== -->
<!--
    <div id="footer">
        {{> footer}}
    </div> -->
    <!-- ========================== FOOTER ========================== -->
        <footer class="footer-wrapper flex-column">
          <div class="footer-wrapper footer-main">
            <div class="footer-wrapper flex-column">
              <div id="footer-company-info">
                <p class="footerletters">
                  <a href="index.html"> Our company</a><br>
                  <a href="/signupOrganization"> Become a member </a> <br>
                  <a href="/contact"> Report a problem</a> <br>
                </p>
              </div>
              <!-- Social Media (they currently lead to the main page of each social media) -->
              <div id="footer-social">
                <button id="twitter-button-image" onclick=" window.open('http://twitter.com','_blank')" aria-label="Twitter icon created by Bogdan Rosu - Flaticon">
                </button>

                <button id="instagram-button-image" onclick=" window.open('http://instagram.com','_blank')" aria-label="Instagram icon created by Hight Quality Icons - Flaticon">
                </button>

                <button id="facebook-button-image" onclick=" window.open('http://facebook.com','_blank')" aria-label="Facebook icon created by Freepik - Flaticon">
                </button>

                <button id="youtube-button-image" onclick=" window.open('http://youtube.com','_blank')" aria-label="Youtube icon created by Freepik - Flaticon">
                </button>
              </div>
            </div>
            <div class="footer-wrapper footer-logo-social">
              <!-- Logo -->
              <img id="footer-logo" src="../../view/media/header-footer/queer-rar-footer.png" alt="Queer-rar logo">
            </div>
          </div>
        </footer>
</div>
</body>
</html>
