<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../../view/css_code/chat.css">
        <link rel="stylesheet" href="../../view/css_code/main.css">
        <link rel="icon" type="image/x-icon" href="../../view/media/header-footer/queerrar.ico">
        <title> Queer-rar Chat </title>
        <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
        <script src="../../client/main.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script src="../../client/chat.js"></script>

        <script type="text/x-handlebars-template" id="file-item-template">
            <div class="file-box">
                {{#each filesList}}
                    <div class="file-item" data-id="{{name}}">
                        <img src="../../view/media/chat/file.png" alt="file picture">
                        <span>{{name}}</span>
                        <button onclick="removeFile('{{name}}')">x</button>
                    </div>
                {{/each}}
            </div>
        </script>
    </head>
    <body>
        <div class="wrapper">
            <!-- ========================== HEADER ========================== -->
            <div id="header" >
                {{> header}}
            </div>
                
            <!-- ========================== Main ========================== -->
            
            <main id="index-page-components">
                <div class="chat">
                    <div class="users-list"></div>
                    <div class="add-user">
                        <label for="add-friend-username">Search friend:</label>
                        <input id="add-friend-username" type="text" placeholder="Username:"/>
                    </div>
                    <div class="messages">
                        <div class="messages-list"></div>
                        <div id="file-viewer"></div>
                    </div>
                    <div class="message-input">
                        <input id="message" type="text" placeholder="Type your message" />
                        <input id="uploads" type="file" value="" multiple/>
                    </div>
                </div>
            </main>
            
            <!-- ========================== FOOTER ========================== -->
            
            <div id="footer">
                {{> footer}}
            </div>
        </div>
    </body>
</html>