<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../view/css_code/main.css">
  <link rel="stylesheet" href="../../view/css_code/forms.css">
  <link rel="stylesheet" href="../../view/css_code/contact_us.css">
  <title> Contact with us </title>
  <link rel="icon" type="image/x-icon" href="../../view/media/header-footer/queerrar.ico">
  <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
  <script src="../../client/main.js"></script>
</head>

<body>
  <div class="wrapper">
    <!-- ========================== HEADER ========================== -->
      <div id="header" >
          {{> header}}
      </div>

    <!-- ========================== Main ========================== -->
  <main>
    <div id="Contact">

      <h1 id="contactH1"> Get in touch</h1>
      <h3>Contact us for any problem that you may face or if you need more informations about us! </h3>
      <h5> WE WILL EMAIL YOU BACK AS SOON AS POSSIBLE. STAY SAFE!</h5>
      <form action="/contact" method="POST" novalidate>
        <div id="labels_inputs_block">
          <div id="labels_block">
            <label for="user_name">
              Name
            </label>
            <label for="user_pronouns">
              Pronouns
            </label>

            <label for="user_email">
              Email
            </label>
          </div>
          <br>
          <div id="input_blocks">
            <input type="text" placeholder="Enter your Name" id="user_name" name="username" required>

            <input type="text" placeholder="Enter your Pronouns" id="user_pronouns" name="pronouns">

            <input type="email" placeholder="Enter a valid email address" id="user_email" name="email" required>
          </div>
        </div>
          <br>
          <br>
          <label for="user_message">
            Message:
          </label>
          <textarea rows="6" cols="65" id="user_message" placeholder="Enter your message" name="message" required> </textarea>
          <input id="submitmessage" class="buttonsressub" type="submit" value="Submit">
      </form>
    </div>
  </main>
      <!-- ========================== FOOTER ========================== -->

      <div id="footer">
          {{> footer}}
      </div>
  </div>
  <br>

</body>

</html>
