<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../view/css_code/main.css">
  <link rel="stylesheet" href="../../view/css_code/resetpass.css">
  <link rel="stylesheet" href="../../view/css_code/profile.css">
  <link rel="stylesheet" href="../../view/css_code/age_range.css">
  <link rel="stylesheet" href="../../view/css_code/customrange.css">
  <link rel="stylesheet" href="../../view/css_code/dating_form.css">



  <!-- Google Fonts  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

  <title>Date?</title>
  <link rel="icon" type="image/x-icon" href="../../view/media/header-footer/queerrar.ico">
  <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
  <script src="../../view/js_code/age_range.js"></script>
</head>

<body>
  <div class="wrapper">
    <!-- ========================== HEADER ========================== -->
    <div id="header">
      {{> header}}
    </div>

    <main>
      <div class="box">
        <form name="datingform" id="datingform" method="POST" autocomplete="off">
          <h2>Wanna date?</h2>

          <div id="genders">
            <fieldset id="fmygender">
              <legend id="mygender" class="radiochoices">My gender:</legend>
              <input type="checkbox" name="gender_male" value="Male"> Male <br>
              <input type="checkbox" name="gender_female" value="Female"> Female<br>
              <input type="checkbox" name="gender_Masc" value="Masc"> Masc <br>
              <input type="checkbox" name="gender_fem" value="Fem"> Fem <br>
              <input type="checkbox" name="gender_nb" value="NB"> NB <br>
              <input type="checkbox" name="gender_other" value="Other"> Other<br>
            </fieldset>

            <fieldset id="fothergender">
              <legend id="othergender" class="radiochoices">Looking:</legend>
              <input type="checkbox" name="o_gender_male" value="Male"> Male <br>
              <input type="checkbox" name="o_gender_female" value="Female"> Female<br>
              <input type="checkbox" name="o_gender_Masc" value="Masc"> Masc <br>
              <input type="checkbox" name="o_gender_fem" value="Fem"> Fem <br>
              <input type="checkbox" name="o_gender_nb" value="NB"> NB <br>
              <input type="checkbox" name="o_gender_other" value="Other"> Other<br>
            </fieldset>

            <fieldset id="f_age">
              <legend>Preff. Age:</legend>
              <label for="minage">Min:</label>
              <input type="number" class="agerange" id="minage" name="minage" value="18" min="18" max="100"  onblur="checkAge()">
              <label for="maxage">Max:</label>
              <input type="number" id="maxage"  class="agerange" name="maxage" min="18" value="100" max="100" onblur="checkAge()" >
            </fieldset>

            <fieldset id="f_far">
              <legend>How far from me?</legend>
              <div class="slidecontainer">
                <input type="range" min="10" max="70" value="25" class="slider" id="myRange" step="5" oninput="this.nextElementSibling.value = this.value">
                <output>25</output>km
              </div>
            </fieldset>
          </div>

          <fieldset id="fsent">
            <legend>Write one sentence about you!</legend>
            <div id="sentence_box" class="inputBox">
              <input id="sentence" maxlength="30" name="sentence" type="text" required="required">
              <span>About me:</span>
              <i></i>
            </div>
          </fieldset>

          <fieldset id="fconsent">
            <legend class="radiochoices">My account will be visible in dating part and I will be able to use dating part:</legend>
            <ul>
              <li>
                <label class="radiochoices" for="Ag">
                  <input type="radio" id="Ag" name="confirm" value="Agree" onchange="displayMessages()" required>
                  Agree
                  <span id="agmess" class="message" >(Lets date!)</span>
                </label>
              </li>
              <li>
                <label class="radiochoices" for="Di">
                  <input type="radio" id="Di" name="confirm" value="Disagree" onchange="displayMessages()" required>
                  Disagree
                  <span id="dimess" class="message" > (Don't worry we won't  keep the data from this form) </span>
                </label>
              </li>
            </ul>
          </fieldset>

          <br><br>
          <input type="button" onclick="window.location.href='index.html';" value="Cancel">

          <a href="../sign_in_form.html">
            <input type="submit" id="resetpas" onclick="window.location.href='dating_results.html';" value="Continue">
          </a>
        </form>
      </div>
    </main>
    <div id="footer">
      {{> footer}}
    </div>
  </div>
</body>

</html>
