<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../view/css_code/page_not_found.css">
  <script src="../../view/js_code/page_not_found.js"></script>
  <title> Queer-rar </title>
  <link rel="icon" type="image/x-icon" href="../../view/media/header-footer/queerrar.ico">
</head>

<body>
  <div class="text">
    <h1>Page not found</h1>
    <hr>
    <div>It looks like one of the developers fell asleep
    </div>
  </div>

  <div class="astronaut">
    <img src="https://images.vexels.com/media/users/3/152639/isolated/preview/506b575739e90613428cdb399175e2c8-space-astronaut-cartoon-by-vexels.png" alt="" class="src">
  </div>

  <body>

</html>
