<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title> Queer-rar </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../view/css_code/main.css">
  <link rel="stylesheet" href="../../view/css_code/forms.css">

  <link rel="stylesheet" href="../../view/css_code/login.css">
    <link rel="stylesheet" href="../../view/css_code/rainbow.css">
  <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
  <script src="../../client/main.js"></script>
  <script src="../../view/js_code/checkTheForm.js"></script>

  <link rel="icon" type="image/x-icon" href="../../view/media/header-footer/queerrar.ico">
</head>

<body>
  <div class="wrapper">
    <!-- ========================== HEADER ========================== -->
      <div id="header" >
          {{> header}}
      </div>
    <!-- ========================== Main ========================== -->

    <main id="index-page-components">
      <br>
      <figure id="animated_rainbow">

        <div class="playground">
          <div id="red"></div>
          <div id="orange"></div>
          <div id="yellow"></div>
          <div id="green"></div>
          <div id="indigo"></div>
          <div id="violet"></div>
          <div id="middle"></div>
        </div>

        <figcaption>
          <form action="/check-login" method="POST" id="signin-form" class="custom_forms" novalidate>
            <fieldset id="signin-registration-form" class="custom_forms">
              <legend id="welcomeBack">Welcome back!</legend>
              <div class="input-username" id="username-input">
                <label for="profile-username" class="custom_forms">
                  Username:
                </label>
                <input class="custom_forms" type="text" id="profile-username" name="signin_Username" placeholder="Username" pattern="^[A-Za-z0-9_]{3,15}$" required>
              </div>

              <div class="input-password" id="password-input">
                <label for="profile-password" class="custom_forms">
                  Password:
                </label>
                <input placeholder="Secret code" class="custom_forms" type="password" autocomplete="current-password" id="profile-password" name="signin_Password" required>
                <input type="checkbox" class="showmypass" onclick="makepasswordsVisible(document.getElementById('profile-password'))">

              </div>
              <div id="login-message"></div>
            </fieldset>
            <div id="signin-buttons">
              <input class="buttonsressub" type="button" value="New?" id="button-signup_redirect" name="signup_button" onclick="window.location.href='/signup-user';">
              <input class="buttonsressub" type="button"  id="button-login-forgot-pass" name="forgotpas">
            <input class="buttonsressub" type="submit" value="Sign in»" id="button-login-submit" name="submit">
            </div>
          </form>
        </figcaption>
      </figure>
      <br>
      <br>



      </main>

      <!-- ========================== FOOTER ========================== -->
      <div id="footer">
          {{> footer}}
      </div>
  </div>
</body>
</html>
