<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Update Password</title>
        <link rel="stylesheet" href="../../view/css_code/main.css">
        <link rel="icon" type="image/x-icon" href="../../view/media/header-footer/queerrar.ico">
        <script src="../../client/updateForm.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
        <script src="../../client/main.js"></script>
    </head>
    <body>
        <div class="wrapper">
            <!-- ========================== HEADER ========================== -->
            <div id="header">
                {{> header}}
            </div>
            
            <!-- ========================== Main ========================== -->
            <h1>Update password</h1>
            <form id="updatepasswordform" action="/update_pass" method="POST">
                <fieldset>
                    <label for="password">Password:</label>
                    <input id="password" name="password" type="text">
                </fieldset>
            
                <fieldset>
                    <label for="repeat_password">Repeat Password:</label>
                    <input id="repeat_password" name="repeat_password" type="text">
                </fieldset>
            
                <button id="update-btn" type="submit">Update Password</button>
            </form>
            <!-- ========================== FOOTER ========================== -->
            
            <div id="footer">
                {{> footer}}
            </div>
        </div>
    </body>
</html>