<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Update Password</title>
        <link rel="stylesheet" href="../../view/css_code/main.css">
        <link rel="stylesheet" href="../../view/css_code/forms.css">
        <link rel="stylesheet" href="../../view/css_code/update_pass.css">
        <link rel="icon" type="image/x-icon" href="../../view/media/header-footer/queerrar.ico">
        <script src="../../view/js_code/checkTheForm.js"></script>
        <script src="../../client/updateForm.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
        <script src="../../client/main.js"></script>
    </head>
    <body>
        <div class="wrapper">
            <!-- ========================== HEADER ========================== -->
            <div id="header">
                {{> header}}
            </div>

            <!-- ========================== Main ========================== -->
            <!-- <h1>Update password</h1> -->
            <h4></h4>
            <form id="updatepasswordform"  action="/update_pass"  class="custom_forms" method="POST">
                <h1 id="chang_pass">Change your password</h1>
                <label for="password">New:</label>
                <input class="custom_forms"  type="password" id="password" name="password"
                    title=" Password must contain at least one uppercase and one lowercase letter and one number.The password must contains at least 8 characters and max 12" placeholder="topsecret123"
                    onchange="checkPasswords( document.forms['updatepasswordform']['password'] , document.forms['updatepasswordform']['repeat_password'] )"
                    onkeyup="PassValid(document.getElementById('password'))"
                    oncopy="return false" onpaste="return false" required>
                <input type="checkbox" class="showmypass" onclick="makepasswordsVisible(document.getElementById('password'))">
                <label for="repeat_password">Repeat:</label>
                <input  class="custom_forms" type="password" id="repeat_password" name="repeat_password"  required placeholder="topsecret123"
                  oncopy="return false" onpaste="return false"
                  onblur="checkPasswords( document.forms['updatepasswordform']['password'] , document.forms['updatepasswordform']['repeat_password'] )"
                  title=" Password validator. Write again your chosen password">
                  <input type="checkbox" class="showmypass" onclick="makepasswordsVisible(document.getElementById('repeat_password'))">
                <input id="update-btn" class="buttonsressub" type="submit" value="Update Password" name="change_password_button">
            </form>

            <!-- ========================== FOOTER ========================== -->

            <div id="footer">
              <br>
              <br>
                {{> footer}}
            </div>
        </div>
    </body>
</html>
