<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../view/css_code/main.css">
  <link rel="stylesheet" href="../../view/css_code/video.css">
  <link rel="icon" type="image/x-icon" href="../../view/media/header-footer/queerrar.ico">
  <title> Queer-rar Chat </title>
  <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
  <script src="https://kit.fontawesome.com/c939d0e917.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>
  <script src="../../client/main.js"></script>

</head>
<body>
<div class="wrapper">
  <!-- ========================== HEADER ========================== -->
  <div id="header" >
    {{> header}}
  </div>

  <!-- ========================== Main ========================== -->

  <main id="index-page-components">
    <div id="video-grid">
      <div id="friendVideo">
        <div id="myVideo" class="posUntilAnswer"></div>
      </div>
    </div>
    <div class="video-options">
      <button id="camera">
        <i class="fa fa-video"></i>
      </button>
      <button id="mic">
        <i class="fa fa-microphone"></i>
      </button>
      <button id="close-call">
        <i class="fas fa-phone fa-rotate-270"></i>
      </button>
    </div>

  </main>

  <!-- ========================== FOOTER ========================== -->

  <div id="footer">
    {{> footer}}
  </div>
</div>
<script src="client/video.js"></script>
</body>

</html>
