<!-- ========================== FOOTER ========================== -->
    <footer class="footer-wrapper flex-column">
      <div class="footer-wrapper footer-main">
        <div class="footer-wrapper flex-column">
          <div id="footer-company-info">
            <p class="footerletters">
              <a href="index.html"> Our company</a><br>
              <a href=""> Become a member </a> <br>
              <a href=""> Report a problem</a> <br>
            </p>
          </div>
          <!-- Social Media (they currently lead to the main page of each social media) -->
          <div id="footer-social">
            <button id="twitter-button-image" onclick=" window.open('http://twitter.com','_blank')" aria-label="Twitter icon created by Bogdan Rosu - Flaticon">
            </button>

            <button id="instagram-button-image" onclick=" window.open('http://instagram.com','_blank')" aria-label="Instagram icon created by Hight Quality Icons - Flaticon">
            </button>

            <button id="facebook-button-image" onclick=" window.open('http://facebook.com','_blank')" aria-label="Facebook icon created by Freepik - Flaticon">
            </button>

            <button id="youtube-button-image" onclick=" window.open('http://youtube.com','_blank')" aria-label="Youtube icon created by Freepik - Flaticon">
            </button>
          </div>
        </div>
        <div class="footer-wrapper footer-logo-social">
          <!-- Logo -->
          <img id="footer-logo" src="../../view/media/header-footer/queer-rar-footer.png" alt="Queer-rar logo">
        </div>
      </div>
    </footer>