    <!-- ========================== HEADER ========================== -->
    <header class="wrapper header-wrapper">
      <div class="header-wrapper header-group">
        <!-- Menu -->
        <nav class="dropdown">
          <button id="menu-button-image" aria-label="Menu button including a hamburger menu icon created by Freepik - Flaticon"></button>
          <ul class="dropdown-menu">

            <li class="dropdown-submenu">
              <a href="#">Events</a>
            </li>

            <li class="dropdown-submenu">
              <a href="#">Friends</a>
            </li>

            <li class="dropdown-submenu">
              <a href="#">Messages</a>
            </li>

            <li class="dropdown-submenu">
              <a href="#">Games </a>
            </li>

            <li class="dropdown-submenu">
              <a href="#">Dating</a>
            </li>

            <li class="dropdown-submenu">
              <a href="#">Settings</a>
            </li>

          </ul>
        </nav>

        <!-- Logo -->
        <button id="home-button-image" onclick="window.location.href='index.html';">
        </button>

      </div>

      <div class="header-wrapper header-group">
        <!-- messenger-->
        <button id="messenger-button-image" aria-label="messenger icon">
        </button>
        <!-- User Login -->
        <button id="login-button-image" aria-label="Login button including a login icon created by Sebastian Belalcazar - Flaticon"
           onclick="window.location.href='signup.html';" >
        </button>
      </div>

    </header>