main {
  background-image: url('../media/background_photos/events.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h1{
  margin-top: -60px;
}

#firstlabel{
  margin-top: -50px;
}

#checkpos{
  /* margin-left: 240px; */
  cursor:help;
}

#event-name,
#event-place,
#event-date,
#event-time{
  width: 160px;
}

@media screen and (min-width: 450px) {
  #checkpos{
    margin-left: 240px;
  }
}
@media screen and (max-width: 450px) {
    label{
      margin-left: -19px;
    }
    #checkpos{
      margin-left: 200px;
    }

    #event-name,
    #event-date,
    #event-place,
    #event-time{
      margin-left: -20px;
    }
}

@media screen and (max-width: 378px) {
  #checkpos{
    margin-left: 160px;
  }
}

@media screen and (max-width: 315px) {
  #checkpos{
    margin-left: 130px;
  }
}

@media screen and (max-width: 285px) {
  #checkpos{
    margin-left: 100px;
  }
}
