.welcome-screen {
    text-align: center;
}

.welcome-screen button {
    margin-top: 20px;
    font-size: 20px;
}

.welcome-screen input {
    height: 30px;
    width: 200px;
    font-size: 30px;
    text-align: center;
}

.chat {
    display: grid;
    border: 1px solid grey;
    margin: 5rem 2rem 2rem 2rem;
    grid-template-columns: 0.75fr 3fr;
    grid-template-rows: 9fr 1fr;
    min-width: 0;
}

.chat .users-list {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    border-right: 1px solid grey;
}

.chat .users-list .active {
    background: #f3f3f3;
}

.chat .users-list div {
    cursor: pointer;
    padding: 10px;
}

.chat .users-list div:hover {
    background: #f3f3f3;
}

.chat .has-new-notification:after {
    content: "â—";
    display: inline-block;
}

.chat .messages {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.chat .messages-list {
    height: calc(100% - 60px);
}

.chat .message-input {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    border-top: 1px solid grey;
}

.chat input{
    width: 90%;
}

.chat .current-user {
    border-bottom: 1px solid grey;
    padding: 5px;
}

.chat .add-user{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    border-right: 1px solid grey;
}

.chat .messages-list img{
    width: 5rem;
    height: 5rem;
}

.chat .users-list img{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.chat .messages-list div > img:first-child{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

.hidden {
    display: none;
}

.not-exists{
    background-color: #ffa1a1;
}