body {
    background-color: #f1fef1;
    scrollbar-color: #e1e7e4 #f1fef1;
    scrollbar-width: thin;
}

.chat {
    height: 80%;
    display: grid;
    /*border: 1px solid grey;*/
    /**/
    border-radius: 15px;
    margin: 5rem 1rem 1rem 1rem;
    grid-template-columns: 0.75fr 3fr;
    grid-template-rows: 5fr 1fr;
    min-width: 0;
    font-size: 1.1rem;
}

.chat .users-list {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    /*border-right: 1px solid grey;*/
    min-width: 8rem;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.chat .users-list .active {
    border-radius: 15px;
    background: #f2f2f2;
}

.chat .users-list div {
    margin: 0.5rem 0 0.5rem 0;
    cursor: pointer;
    padding: 0.3rem;
}

.chat .users-list .user {
    vertical-align: middle;
}

.chat .has-new-notification:after {
    content: "â—";
    display: inline-block;
}

.chat .messages {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    height: 30rem;
}

.chat .date {
    margin: 1rem;
    text-align: center;
}

.chat .message {
    margin: 1rem 0.5rem 1rem 0.5rem;
    padding: 0.5rem;
    border-radius: 10px;
    width: fit-content;
}

.chat .friend-messages {
    margin-right: auto;
    margin-left: 0.5rem;
    background-color: #dbecec;
}

.chat .user-messages {
    margin-left: auto;
    margin-right: 0.5rem;
    background-color: #ffff99;
}

.chat .messages-list {
    padding: 0.3rem;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.chat .message-input {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 0.3rem;
    /*border-top: 1px solid grey;*/
}

.chat input{
    width: 100%;
    border-radius: 8px;
    box-sizing: border-box;
}

.chat .current-user {
    border-bottom: 1px solid grey;
    padding: 5px;
}

.chat .add-user{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    /*border-right: 1px solid grey;*/
}

.chat .messages-list img{
    width: 15rem;
}

.chat .users-list img{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    vertical-align: center;
    margin-right: 0.5rem;
}

.chat .messages-list div > img:first-child{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

.chat .file-box {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5rem;
    padding: 0.2rem;
    /*border-top: 1px solid grey;*/
    overflow-y: auto;
    scroll-behavior: smooth;
    max-height: 11rem;
}

.chat .file-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.chat .file-item img{
    height: 3rem;
}

.chat .file-item span{
    align-self: center;
}

.chat .file-item button{
    position: relative;
    width: 1rem;
    height: 1.1rem;
    left: 70%;
    bottom: 80%;
    z-index: 2;
    border-radius: 50%;
    background-color: #ff6767;
}

.hidden {
    display: none;
}

.not-exists{
    background-color: #ffa1a1;
}