@font-face {
    font-family: "Cookie";
    src: url("../fonts/Cookie-Regular.ttf");
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
    backdrop-filter: blur(15px);
    transition: opacity 500ms;
    visibility: visible;
    opacity: 1;
}
.overlayHidden {
    display: none;
    opacity: 0;
}

.popup {
    display: flex;
    margin: 5rem auto;
    padding: 0.5rem;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    justify-content: center;
    align-items: center;
    font-family: Cookie;
    font-size: 1.5rem;
    font-weight: bold;
}

.popup img {
    width: 50px;
    height: 50px;
    margin-right: 0.5rem;
}

.popup h2 {
    margin: 0;
}

.popup .close {
    transition: all 200ms;
    font-size: 3rem;
    font-weight: bold;
    font-family: Cookie;
}
.popup .close:hover {
    color: #06D85F;
}

@media screen and (max-width: 700px) {
    .popup {
        width: 40%;
    }
}
